button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}

/* 删除按钮 */
.delete{
    background-color: #fafbfc;
    color: #cb2431;
}