<div class="detail" *ngIf="project">
  <button class="back" (click)="goBack()">返回</button>
  <button class="edit" (click)="edit(currentUser.username, project.id)">编辑</button>
  <div style="clear: both;"></div>

  <div class="cover">
    <h2 class="name">{{project.name | uppercase}}</h2>
    <p class="description">{{project.description}}</p>
    <span class="createDate">{{project.createDate | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</span>
    <span class="updateDate">{{project.updateDate | amTimeAgo }}</span>
  </div>

  <button *ngIf="!project.isChildren" class="create" (click)="create(currentUser.username, project.id)">创建子项目</button>

  <ul class="projects"  [ngClass]="{ 'hidden': loading }">
    <li class="children" *ngFor="let children of project.children">
      <div class="content">
        <a [class.full-height]="!children.description" routerLink="/{{currentUser.username}}/{{project.id}}/children/{{children.id}}"> {{children.name}}</a>
        <p class="description">{{children.description}}</p>
      </div>
      <span class="update-date">{{children.updateDate | amTimeAgo }}</span>
    </li>
  </ul>

</div>