<div class="detail" *ngIf="project">
  <button class="back" (click)="goBack()">返回</button>
  <button class="edit" (click)="edit(project.id)">编辑</button>
  <div style="clear: both;"></div>

  <div class="cover">
    <h2 class="name">{{project.name | uppercase}}</h2>
    <p class="description">{{project.description}}</p>
    <span class="createDate">{{project.createDate | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</span>
    <span class="updateDate">{{project.updateDate | amTimeAgo }}</span>
  </div>
</div>