

<ul class="projects"  [ngClass]="{ 'hidden': loading }">
  <li class="project" *ngFor="let project of asyncProjects | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p+1, totalItems: total }">
    <a class="name" routerLink="/detail/{{project.id}}"> {{project.name}}</a>
    <span class="description">{{project.description}}</span>
    <span class="update-date">{{project.updateDate | amTimeAgo }}</span>
    <button class="delete" title="删除项目" (click)="delete(project)">x</button>
  </li>
</ul>


<div class="pagination">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls id="server" (pageChange)="getProjects($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>
</div>