

<ul class="projects"  [ngClass]="{ 'hidden': loading }">
  <li class="project" *ngFor="let project of asyncProjects | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p+1, totalItems: total }">
    <div class="content">
      <a [class.full-height]="!project.description" routerLink="/{{currentUser.username}}/{{project.id}}"> {{currentUser.username}}/{{project.name}}</a>
      <p class="description">{{project.description}}</p>
    </div>
    <span class="update-date">{{project.updateDate | amTimeAgo }}</span>
  </li>
</ul>

<div class="pagination">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls id="server" (pageChange)="getProjects($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>
</div>